@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  background:linear-gradient( rgba(240, 241, 243, 0.7),  rgba(182, 193, 241, 0.9)), url(https://images.unsplash.com/photo-1594656877277-e807ce76d9ed?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}
h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  text-align: center;
  color: whitesmoke;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  padding: 30px 0;
  max-width: 500px;
  background:linear-gradient( rgba(145, 26, 64, 0.6),  rgba(11, 4, 32, 0.9));
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 40px 5px rgba(20, 23, 39, 0.6);
}
.todo-items {
  display: flex;
  align-items: center;
  padding: 30px 0;
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  color:whitesmoke;
}
.todo-items label {
 padding-left: 15px;
}
